<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes groupes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header color="primary">
        Mes groupes
      </ion-list-header>
      <ion-item ion-item *ngFor="let group of groups" detail-push (click)="groupsDetail(group)">
        {{ group.name }}
      </ion-item>
    </ion-list>
    <ion-list>
    <ion-list-header *ngIf="pending_groups && pending_groups.length > 0" class="warning">
      Mes invitations en cours
    </ion-list-header>
    <ion-item ion-item *ngFor="let group of pending_groups" detail-push (click)="confirmAcceptGroup(group)">
      {{ group.name }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full (click)="openNewGroupModal()">+ Ajouter un groupe</button>
</ion-footer>
