<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes groupes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button full (click)="add_group = !add_group">+ Ajouter un groupe</button>
    <form (submit)="newGroup()" [formGroup]="add_group_input">
      <ion-item>
        <ion-input *ngIf="add_group === true" type="text" formControlName="name" placeholder="Nom du groupe"></ion-input>
      </ion-item>
    </form>
    <ion-list>
      <ion-item ion-item *ngFor="let group of groups" detail-push (click)="groupsDetail(group)">
          {{ group.name }}
      </ion-item>
    </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
