<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2 *ngIf="type !== 'modify'">Nouvel événement</h2>
        <h2 *ngIf="type === 'modify'">Modifier un événement</h2>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addNewEventConfirm()">
    <ion-list>
      <ion-item>
        <ion-label>Nom de l'événement</ion-label>
        <ion-input type="text" [(ngModel)]="event.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="event.notes" name="notes"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Groupes</ion-label>
        <ion-select [(ngModel)]="event.group_id" name="group_id" submitText="OK" cancelText="Annuler">
          <ion-option *ngFor="let grp of groups" value="{{grp.group_id}}">{{grp.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Début</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" name="startTime" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" name="endTime" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Toute la journée?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay" name="allDay"></ion-checkbox>
      </ion-item>
    </ion-list>
    <button *ngIf="type !== 'modify'" ion-button type="submit" block>+ Créer un nouvel événement</button>
    <button *ngIf="type === 'modify'" ion-button type="submit" block>Modifier cet événement</button>

    </form>
</ion-content>
<ion-footer>
  <button *ngIf="type === 'modify'" color="danger" ion-button block (click)="removeEventConfirm()">Supprimer cet événement</button>
</ion-footer>
