<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes Événements à venir</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button full (click)="openNewEventModal()">+ Créer un nouvel événement</button>
    <ion-item>
    <ion-select [(ngModel)]="selected_group" (ngModelChange)="refreshEvents()" name="group_id" submitText="OK" cancelText="Annuler">
      <ion-option value="Tous les groupes">Tous les groupes</ion-option>
      <ion-option *ngFor="let grp of groups" value="{{grp.group_id}}">{{grp.name}}</ion-option>
    </ion-select>
  </ion-item>
    <ion-card *ngFor="let evnt of my_events">
      <ion-card-header>
        <ion-icon right name="create" (click)="openModifyModal(evnt)"></ion-icon>
        <h1 text-center>{{ evnt.title }}</h1>
        <h2 text-center>Groupe : {{evnt.group_name }}</h2>
      </ion-card-header>
      <ion-card-content>
        <p text-center *ngIf="!evnt.allDay">Début : {{ evnt.startTime }}<br> Fin : {{ evnt.endTime }}</p>
        <p text-center *ngIf="evnt.allDay">Toute la journée</p>
        <p text-center *ngIf="evnt.allDay">{{ evnt.startTime }}</p>
        <p>{{ evnt.notes }}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
