<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ group_name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button full (click)="add_group = true">+ Ajouter un groupe</button>
    <form (submit)="newGroup()" [formGroup]="add_group_input">
      <ion-item>
        <ion-input *ngIf="add_group === true" type="text" formControlName="name" placeholder="Nom du groupe"></ion-input>
      </ion-item>
    </form>
  <ion-list>
    <button ion-item *ngFor="let group of (groups | async)" (click)="groupsDetail(group)">
      {{ group.name }}
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
